@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --header-size: 32px;
    --header-font-weight: 400;
    --header-line-height: 40px;
    --text-font-inter: 'Inter', monospace;
    --text-font-lora: 'Lora', cursive;
    --text-font-weight: 300;
    --text-font-weight-500: 500;
    --text-16: 16px;
    --text-14: 14px;
    --text-12: 12px;
    --text-line-height: 22px;
    --text-line-height-20: 20px;
    --dark-100: #010101;
    --white-4: #FFFFFF0A;
    --white-8: #FFFFFF14;
    --white-12: #FFFFFF1F;
    --white-20: #FFFFFF33;
    --white-60: #FFFFFF99;
    --white-80: #FFFFFFCC;
    --white-95: #FFFFFFF2;
    --orange: #FF6400;
    --background-blur: 40px;
    --input-height: 48px;
    --btn-border-radius: 12px;

  }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"],
input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/* 

::-webkit-scrollbar {
  background-color: rgb(15, 17, 22);
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: rgb(50, 60, 80);
  border-radius: 10px;
}

*/

body {
  background: var(--dark-100);
  font-family: var(--text-font-inter);
  color: var(--white-95);
  line-height: 1.3em;
  font-weight: var(--text-font-weight);
  box-sizing: border-box;
}

.keycard_shell__display-none {
    display: none;
}

.keycard_shell__pre-sale-banner-container {
    background: var(--orange);
    font-size: var(--text-16);
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    color: var(--white-95);
    line-height: var(--text-line-height);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
}

.keycard_shell-pre-sale-button {
    background: none;
    border: none;
    font-size: var(--text-16);
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    color: var(--white-95);
    padding: 0;
    display: inline-block;
    text-decoration: underline;
}

.keycard_shell__modal-container {
    width: 428px;
    height: 642px;
    background-color: var(--white-4);
    margin: 82px auto auto auto;
    border: solid var(--white-12) 1px;
    border-radius: 28px;
    backdrop-filter: blur(var(--background-blur));
}

.keycard_shell__modal-prompt-container {
    width: 90%;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
}

.keycard_shell__modal-prompt-header-container {
    display: flex;
    flex-direction: row;
}

.keycard_shell__modal-prompt-header {
    font-size: var(--header-size);
    font-family: var(--text-font-lora);
    font-weight: var(--header-font-weight);
    line-height: var(--header-line-height);
    width: 90%;
}

.keycard_shell__modal-prompt-text {
    margin-top: 8px;
    font-size: var(--text-16);
    color: var(--white-60);
    line-height: var(--text-line-height);
    letter-spacing: -2%;
}

.keycard_shell__close-btn-container {
    width: 40px;
    height: 40px;
    border: outset var(--white-12) 1px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: var(--white-4);
    display: block;
    padding: 9px;
    
}

.keycard_shell__close-btn-link {
    box-sizing: border-box;
}

.keycard_shell__close-btn-img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

.keycard_shell__delta-select-container {
    margin: 20px auto auto auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--white-4);
    border: outset var(--white-12) 1px;
    border-radius: 16px;
    padding: 0 8px;
    box-sizing: border-box;
}

.keycard_shell__delta-select {
    width: 100%;
    height: var(--input-height);
    box-sizing: border-box;
    color: var(--white-95);
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

.kpro_web__menu-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 1.5em 2em;
    box-sizing: border-box;
}

.kpro_web__menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 1 50%;
    text-align: right;
    align-items: center;
    height: 40px;
    gap: 1em;
}

.keycard_shell__logo-container {
    width: 50%;
    box-sizing: border-box;
    flex: 1 1 50%;
    height: 40px;
    display: flex;
    align-items: center;
}

.keycard_shell__logo {
    width: 95px;
}

.kpro_web__menu-element {
    box-sizing: border-box;
    height: 100%;
    vertical-align: baseline;
}

.active {
    border: solid 1px var(--white-12);
    background-color: transparent;
    box-shadow: inset 0px 0px 40px 40px var(--white-12);
}

.kpro_web__menu-element-link {
    background: none;
    border: none;
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    color: var(--white-95);
    font-weight: var(--text-font-weight);
    padding: 9px 14px;
    box-sizing: border-box;
    display: block;
    background: transparent;
    border: solid 1px transparent;
    border-radius: var(--btn-border-radius);
    box-shadow: inset 0px 0px 40px 40px transparent;
    transition: .3s;
}

.kpro_web__menu-element-link:hover {
    border: solid 1px var(--white-8);
    background-color: transparent;
    box-shadow: inset 0px 0px 40px 40px var(--white-8);
}

.kpro_web__menu-btn {
    border-radius: var(--btn-border-radius);
    background-color: var(--white-4);
    border: solid 1px var(--white-8);
    box-shadow: none;
}

.kpro__web_footer-container {
    max-height: 260px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.kpro__web_footer {
    background-color: var(--orange);
    width: 100%;
    height: 100%;
    border-radius: 28px;
    box-sizing: border-box;
    padding: 32px 0 20px 0;
    
}

.kpro__web_footer-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 24px;
    height: 174px;
}

.keycard_shell__footer-logo-container {
    width: 35%;
    box-sizing: border-box;
    flex: 1 1 35%;
    height: 40px;
    display: flex;
    align-items: center;
}

.keycard_shell__footer-menu-containers {
    width: 65%;
    box-sizing: border-box;
    flex: 1 1 65%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.keycard_shell__footer-menu {
    width: 25%;
    box-sizing: border-box;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    border-left: dashed 1px var(--white-20);
    gap: 1.5em;
}

.keycard-shell__footer-header {
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    font-size: var(--text-12);
    text-transform: uppercase;
    line-height: var(--text-line-height-20);
    color: var(--white-80);
}

.keycard_shell__footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.keycard_shell__footer-menu-list-element {
    font-family: var(--text-font-inter);
    font-weight: var(--header-font-weight);
    font-size: var(--text-16);
    line-height: var(--text-line-height);
    color: var(--white-95);
}

.keycard_shell__footer-menu-link-ext-ic {
    vertical-align: bottom;
}

.keycard-shell__copyright-container {
    border-top: dashed 1px var(--white-20);
    width: 100%;
    height: 38px;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.keycard-shell__copyright {
   flex: 1 1 50%;
   font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    font-size: var(--text-16);
    color: var(--white-80);
}

.keycard-shell__copy-message {
    flex: 1 1 50%;
    text-align: right;
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    font-size: var(--text-16);
    color: var(--white-80);
}