@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Vars */
:root {
    --header-size: 32px;
    --header-font-weight: 400;
    --header-line-height: 40px;
    --page-header-line-height: 56px;
    --text-font-inter: 'Inter', monospace;
    --text-font-lora: 'Lora', cursive;
    --text-font-weight: 300;
    --text-font-weight-500: 500;
    --text-48: 48px;
    --text-32: 32px;
    --text-31: 31px;
    --text-24: 24px;
    --text-22: 20px;
    --text-20: 20px;
    --text-16: 16px;
    --text-14: 14px;
    --text-13: 13px;
    --text-12: 12px;
    --text-line-height-32: 32px;
    --text-line-height-28: 28px;
    --text-line-height: 22px;
    --text-line-height-20: 20px;
    --dark-100: #010101;
    --dark-60: #01010199;
    --white-4: #FFFFFF0A;
    --white-8: #FFFFFF14;
    --white-12: #FFFFFF1F;
    --white-20: #FFFFFF33;
    --white-60: #FFFFFF99;
    --white-80: #FFFFFFCC;
    --white-95: #FFFFFFF2;
    --shadow-color: #01010114;
    --orange: #FF6400;
    --orange-5: #FF7D460D;
    --orange-10: #FF7D461A;
    --neutral-solid-25: #FAFBFC;
    --neutral-solid-20: #E7EAEE;
    --background-blur: 40px;
    --input-height: 48px;
    --border-radius-12: 12px;
    --border-radius-16: 16px;
    --container-border-radius: 28px;
    --text-letter-spacing: -2%;
    --bm-letter-spacing: -.75px;
    --warning-letter-spacing: -.3%;
    --qr-width: 296px;
    --qr-heigth: 296px;

  }

/* Reset default style */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"],
input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/* 

::-webkit-scrollbar {
  background-color: rgb(15, 17, 22);
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: rgb(50, 60, 80);
  border-radius: 10px;
}

*/

/* Base */
body {
  background: var(--dark-100);
  font-family: var(--text-font-inter);
  color: var(--white-95);
  line-height: 1.3em;
  font-weight: var(--text-font-weight);
  box-sizing: border-box;
}

.keycard_shell__h2-container {
    height: 40px;
}

.keycard_shell__h2 {
    font-family: var(--text-font-lora);
    font-size: var(--text-31);
    line-height: var(--header-line-height);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    color: var(--white-95);
}

.keycard_shell__h3 {
    font-family: var(--text-font-lora);
    font-size: var(--text-24);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    line-height: var(--text-line-height-32);
    color: var(--white-95);
}

/* Banner */
.keycard_shell__pre-sale-banner-container {
    background: var(--orange);
    font-size: var(--text-16);
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    color: var(--white-95);
    line-height: var(--text-line-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 3em;
}

.keycard_shell-pre-sale-button {
    background: none;
    border: none;
    font-size: var(--text-16);
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    color: var(--white-95);
    padding: 0;
    display: inline-block;
    text-decoration: underline;
}

/* Menu */
.kpro_web__menu-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 1.5em 2em;
    box-sizing: border-box;
}

.kpro_web__menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 1 1 50%;
    text-align: right;
    align-items: center;
    height: 40px;
    gap: 1em;
}

.kpro_web__menu-element {
    box-sizing: border-box;
    height: 100%;
    vertical-align: baseline;
}

.active {
    border: solid 1px var(--white-12);
    background-color: transparent;
    box-shadow: inset 0px 0px 40px 40px var(--white-12);
}

.kpro_web__menu-element-link {
    background: none;
    border: none;
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    color: var(--white-95);
    font-weight: var(--text-font-weight);
    padding: 9px 14px;
    box-sizing: border-box;
    display: block;
    background: transparent;
    border: solid 1px transparent;
    border-radius: var(--border-radius-12);
    box-shadow: inset 0px 0px 40px 40px transparent;
    transition: .3s;
}

.kpro_web__menu-element-link:hover {
    border: solid 1px var(--white-8);
    background-color: transparent;
    box-shadow: inset 0px 0px 40px 40px var(--white-8);
}

.kpro_web__menu-btn {
    border-radius: var(--border-radius-12);
    background-color: var(--white-4);
    border: solid 1px var(--white-8);
    box-shadow: none;
}

/* Logo */
.keycard_shell__logo-container {
    width: 50%;
    box-sizing: border-box;
    flex: 1 1 50%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.keycard_shell__logo {
    width: 95px;
}

/* Footer */
.kpro__web_footer-container {
    max-height: 260px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.kpro__web_footer {
    background-color: var(--orange);
    width: 100%;
    height: 100%;
    border-radius: var(--container-border-radius);
    box-sizing: border-box;
    padding: 32px 0 20px 0;
    
}

.kpro__web_footer-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 24px;
    height: 174px;
}

.keycard_shell__footer-logo-container {
    width: 35%;
    box-sizing: border-box;
    flex: 1 1 35%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.keycard_shell__footer-menu-containers {
    width: 65%;
    box-sizing: border-box;
    flex: 1 1 65%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.keycard_shell__footer-menu {
    width: 25%;
    box-sizing: border-box;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 24px;
    border-left: dashed 1px var(--white-20);
    gap: 1.5em;
}

.keycard_shell__footer-header {
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    font-size: var(--text-12);
    text-transform: uppercase;
    line-height: var(--text-line-height-20);
    color: var(--white-80);
}

.keycard_shell__footer-menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.keycard_shell__footer-menu-list-element {
    font-family: var(--text-font-inter);
    font-weight: var(--header-font-weight);
    font-size: var(--text-16);
    line-height: var(--text-line-height);
    color: var(--white-95);
}

.keycard_shell__footer-menu-link-ext-ic {
    vertical-align: bottom;
}

.keycard-shell__copyright-container {
    border-top: dashed 1px var(--white-20);
    width: 100%;
    height: 38px;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.keycard_shell__copyright {
    flex: 1 1 50%;
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    font-size: var(--text-16);
    color: var(--white-80);
}

.keycard_shell__copy-message {
    flex: 1 1 50%;
    text-align: right;
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    font-size: var(--text-16);
    color: var(--white-80);
}

/* Content */
.keycard_shell__content-container {
    width: 100%;
    padding: 0 6%;
    margin-top: 10px;
    margin-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    gap: 24px;
}

.keycard_shell__page-header-container {
    padding: 20px 0 0 20px;
    box-sizing: border-box;
}

.keycard_shell__page-header {
    font-family: var(--text-font-lora);
    font-size: var(--text-48);
    letter-spacing: -2%;
    font-weight: var(--text-font-weight);
    line-height: var(--page-header-line-height);
    color: var(--white-95);
} 

/* DB page */
.keycard_shell__modal-container {
    width: 428px;
    height: 642px;
    background-color: var(--white-4);
    margin: 82px auto auto auto;
    border: solid var(--white-12) 1px;
    border-radius: 28px;
    backdrop-filter: blur(var(--background-blur));
}

.keycard_shell__modal-prompt-container {
    width: 90%;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.keycard_shell__modal-prompt-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.keycard_shell__modal-prompt-header {
    font-size: var(--header-size);
    font-family: var(--text-font-lora);
    font-weight: var(--header-font-weight);
    line-height: var(--header-line-height);
    width: 90%;
}

.keycard_shell__modal-prompt-text {
    margin-top: 8px;
    font-size: var(--text-16);
    color: var(--white-60);
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
}

.keycard_shell__close-btn-container {
    width: 40px;
    height: 40px;
    border: outset var(--white-12) 1px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: var(--white-4);
    display: block;
    padding: 9px;
    
}

.keycard_shell__close-btn-link {
    box-sizing: border-box;
}

.keycard_shell__close-btn-img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

.keycard_shell__delta-select-container {
    margin: 20px auto auto auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--white-4);
    border: outset var(--white-12) 1px;
    border-radius: 16px;
    padding: 0 8px;
    box-sizing: border-box;
}

.keycard_shell__delta-select {
    width: 100%;
    height: var(--input-height);
    box-sizing: border-box;
    color: var(--white-95);
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

/* Verify page */
.keycard_shell__device-container {
    width: 100%;
    border-radius: var(--container-border-radius);
    border: solid 1px var(--white-12);
    background-color: var(--white-4);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    padding: 20px 0;
}

.keycard_shell__verify-step {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translate(0, 0);
    transition: transform 1s;
}

.keycard_shell__verify-step-prompt-container {
    padding-left: 20px;
    box-sizing: border-box;
}

.keycard_shell__verify-step-prompt {
    font-family: var(--text-font-inter);
    font-size: var(--text-20);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    line-height: var(--text-line-height-28);
    color: var(--white-80);
}

.keycard_shell__verify-step-prompt-help-link {
    border-bottom: 1px solid var(--white-80);
}

.keycard_shell__verify-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.keycard_shell__verify-action-el {
    width: 380px;
}

.keycard_shell__action-prompt-container {
    min-height: 44px;
    height: 100%;
}

.keycard_shell__action-prompt {
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
    color: var(--white-80);
    overflow-wrap: break-word;
}

.keycard_shell__enable-camera-container {
    width: 380px;
    height: 380px;
    box-sizing: border-box;
    background-color: var(--white-4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: var(--container-border-radius);
    border: solid 1px var(--white-12);
    margin-top: 6px; 
}

.keycard_shell__enable-camera-img {
    width: 222px;
    height: 222px;
}

.device_verify__scan-container {
    width: 380px;
    height: 380px;
}

.device_verify__scan-container video {
   border-radius: var(--container-border-radius); 
}

.keycard_shell__scanning-msg-container {
    width: 380px;
    background-color: var(--white-4);
    border: solid 1px var(--white-12);
    border-radius: var(--border-radius-16);
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
}

.keycard_shell__scanning-msg {
    padding: 10px 14px;
    box-sizing: border-box;
    display: block;
    background-color: var(--dark-60);
    border: solid 1px var(--white-12);
    border-radius: var(--border-radius-12);
}

.keycard_shell__scanning-effect {
    background: linear-gradient(var(--white-60), var(--white-80), var(--white-95) 40%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    animation: TransitioningBackground 2s linear infinite;
    background-size: 100% 300%;
}

@keyframes TransitioningBackground {
    0% {
        background-position: 100% 200%;
    }
    100% {
        background-position: 100% -100%;
    }
}

.keycard_shell__device-verification-warning-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    min-height: 76px;
    background-color: var(--orange-5);
    border: solid 1px var(--orange-10);
    padding: 11px 12px;
    border-radius: var(--border-radius-12);
    box-sizing: border-box;
    align-items: center;
    
}

.keycard_shell__device-verification-warning-icon-container {
    width: 16px;
}

.keycard_shell__device-verification-warning-prompt {
    font-family: var(--text-font-inter);
    font-weight: var(--text-font-weight);
    font-size: var(--text-13);
    color: var(--white-95);
    letter-spacing: var(--warning-letter-spacing);
    line-height: var(--text-line-height-20);
}

.keycard_shell__device-verification-warning-link {
    border-bottom: solid 1px var(--white-95);
}

/* QR style */

.keycard_shell__qr-container {
    height: 380px;
    box-sizing: border-box;
    background-color: var(--neutral-solid-25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--border-radius-12);
    border: solid 1px var(--neutral-solid-20);
    margin-top: 6px;
}

.keycard_shell__qr {
    width: var(--qr-width);
    height: var(--qr-heigth);
    border-radius: var(--border-radius-12);
    box-shadow: var(--shadow-color) 0px 8px 24px;
}

.keycard_shell__qr-success {
    padding: 10px;
    box-sizing: border-box;
}

/* Button */

.keycard_shell__btn-container {
    height: 48px;
    background-color: var(--white-4);
    border: solid 1px var(--white-12);
    border-radius: var(--border-radius-16);
    padding: 4px;
    box-sizing: border-box;
}

.keycard_shell__btn {
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    border: solid 1px var(--white-12);
    border-radius: var(--border-radius-12);
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    color: var(--white-95);
    font-weight: var(--header-font-weight);
    line-height: var(--text-line-height);
}

/* Bottom content */
.keycard_shell__bottom-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.keycard_shell__bottom-menu-part {
    width: 32%;
    min-height: 190px;
    padding: 20px 24px 24px 24px;
    background-color: var(--white-4);
    border-radius: var(--container-border-radius);
    border: solid 1px var(--white-8);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
} 

.keycard_shell__bottom-menu-prompt-text {
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
    color: var(--white-60);
    letter-spacing: var(--bm-letter-spacing);
    min-height: 44px;
}

.keycard_shell__align-text {
    display: inline-block;
    width: 150px;
    height: 16px;
    visibility: none;
}

.keycard_shell__help-links-list, .keycard_shell__update-links-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.keycard_shell__help-links-list-el {
    padding: 8px 10px;
    background-color: var(--white-4);
    border-radius: var(--border-radius-12);
    border: solid 1px var(--white-8);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
}

.keycard_shell__update-links-el {
   padding: 8px 10px;  
   background-color: var(--white-95);
   border-radius: var(--border-radius-12);
   border: solid 1px var(--white-8);
   box-sizing: border-box;
   display: inline-block;
   height: 40px;
}

.keycard_shell__update-links-el-no-bg {
    padding: 8px 10px; 
    height: 40px;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    line-height: var(--text-line-height);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    color: var(--white-60); 
}

.keycard_shell__help-link {
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    line-height: var(--text-line-height);
    font-weight: var(--header-font-weight);
    letter-spacing: var(--text-letter-spacing);
    color: var(--white-95);
}

.keycard_shell__update-link {
    font-family: var(--text-font-inter);
    font-size: var(--text-16);
    line-height: var(--text-line-height);
    font-weight: var(--header-font-weight);
    letter-spacing: var(--text-letter-spacing);
    color: var(--dark-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}

.keycard_external-link {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 4px;
   flex-wrap: wrap; 
}

.keycard_shell__bottom-heading-container {
    min-height: 124px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    box-sizing: border-box;
    transform: translate(0, 0);
    transition: transform 1s;
}

.keycard_shell__bottom-prompt {
    font-family: var(--text-font-inter);
    font-size: var(--text-20);
    line-height: var(--text-line-height-28);
    font-weight: var(--text-font-weight);
    letter-spacing: var(--text-letter-spacing);
    color: var(--white-80);
}

#update-db, #update-fw {
   transform: translate(0, 0);
   transition: transform 1s; 
}

/* Hide */
.keycard_shell__display-none {
    visibility: hidden;
    max-height: 0;
    min-height: 0;
    transform: translate(-.5%, 0);
}