{% extends "admin/login.html" %}

{% block content %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="errornote">
	{{ error }}
      </p>
    {% endfor %}
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

    <div class="form-row">
      {{ form.otp.errors }}
      <span class="admin__otp_label">{{ form.otp.label_tag }}</span>
      <div class="admin__otp_input">
        {{ form.otp }}
      </div>
    </div>

    <div class="submit-row">
      <input type="submit" value="Submit" class="admin__otp-submit-btn">
    </div>
  </form>
{% endblock %}