{% extends 'admin/change_list.html' %}
{% block object-tools %}
<div class="admin__object-tools">
    <div class="csv-container">
        <form id="fileUploadForm" method="POST" action="import-csv/" accept-charset="utf-8" enctype="multipart/form-data" class="group">
            {% csrf_token %}
            <div class="csv-container-form-field">
                <span class="csv-button">Import CSV</span>
                <input id="csv_file" name="csv_file" class="csv-button-input" accept=".csv" type="file" onchange="fileUploadForm.submit()">
            </div>
        </form>
        <div class="csv-container-form-field admin__redeem-object-tools">
            <a href="export-csv/" class="csv-button">Export CSV</a>
        </div>
    </div>
    {{ block.super }}   
</div>
{% endblock %}