{% extends 'admin/change_list.html' %}
{% block object-tools %}
    <div class="csv-container group">
        <form id="fileUploadForm" method="POST" action="import-csv/" accept-charset="utf-8" enctype="multipart/form-data" class="group">
            {% csrf_token %}
            <div class="csv-container-form-field">
                <span class="csv-button">Import CSV</span>
                <input id="csv_file" name="csv_file" class="csv-button-input" accept=".csv" type="file" onchange="fileUploadForm.submit()">
            </div>
        </form>
    </div>
    {{ block.super }}
{% endblock %}