{% extends './base.html' %}
{% load static %}
{% block content %}
<input type="hidden" id="db_updater__media-prefix" name="db_updater__media-prefix" value="{% get_media_prefix %}">
<div class="keycard_shell__page-heading-container">
    <h1 class="keycard_shell__page-heading" id="db-page-heading">Update ERC-20 token database</h1>
</div> 
<div class="keycard_shell__page-top-prompt-container">
    <div class="keycard_shell__page-top-prompt">
        <span class="keycard_shell__page-top-prompt-content" id="db-page-prompt">If you’d like to keep your Keycard Shell fully air gaped select update over QR.</span>
    </div>
</div>
<div class="keycard_shel__db-update-steps-container">
    <div class="keycard_shel__db-main-container" id="start-db-update-screen">
        <div class="keycard_shell__db-start-update-container" id="update-via-qr">
            <div class="keycard_shell__db-start-update-img-container">
                <img src="{% static 'keycard_shell/img/db-qr.png' %}" class="keycard_shell__db-start-update-img" alt="DB QR">
            </div>
            <div class="keycard_shell__db-start-action-container">
                <div class="keycard_shell__db-start-action-text-container">
                    <h1 class="keycard_shell__page-heading">Scan &amp; go</h1>
                    <span class="keycard_shell__db-start-action-text">Scan QR-code using Keycard Shell</span>
                </div>
                <div class="keycard_shell__db-btn-container">
                    <div class="keycard_shell__btn-container keycard_shell__db-btn">
                        <input id="erc20db-qr-update-btn" class="keycard_shell__btn keycard_shell__db-btn-inline" type="button" value="Update over the air">
                    </div>
                </div>
            </div>
        </div>    
        <div class="keycard_shell__db-start-update-container" id="update-via-usb">
            <div class="keycard_shell__db-start-update-img-container">
                <img src="{% static 'keycard_shell/img/db-usb.png' %}" class="keycard_shell__db-start-update-img" alt="DB Usb">
            </div>
            <div class="keycard_shell__db-start-action-container">
                <div class="keycard_shell__db-start-action-text-container">
                    <h1 class="keycard_shell__page-heading">Connect via cable</h1>
                    <span class="keycard_shell__db-start-action-text">Connect your Keycard Shell via USB-C cable</span>
                </div>
                <div class="keycard_shell__db-btn-container">
                    <div class="keycard_shell__btn-container keycard_shell__db-btn">
                        <input id="erc20db-usb-update-btn" class="keycard_shell__btn" type="button" value="Update via cable">
                        <span class="keycard_shell__db-usb-info">
                            <img src="{% static 'keycard_shell/img/desktop.svg' %}" alt="Desctop" class="keycard_shell-db-usb-info-image">
                            <span class="keycard_shell__no-bg-btn keycard_shell__db-usb-info-text">Only for Desktop</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>    
    </div>   
    <div class="keycard_shell__db-update-qr-action-container keycard_shel__db-update-step keycard_shell__display-none" id="start-db-qr-update-screen">
        <div class="keycard_shel__db-update-step-content-container keycard_shell__step-action-el">
            <div class="keycard_shell__db-update-step-content-heading-container">
                <h3 class="keycard_shell__db-update-step-content-heading">Please select your current database version and scan the QR code to download updates</h3>
            </div>
            <p class="keycard_shell__db-update-step-prompt">ERC20 DB version</p>
            <div class="keycard_shell__select-field-container">
                <select name="db-current-version" id="db-current-version" class="keycard_shell__select-field">
                    <option value="">Select database version</option>
                </select>
                <img src="{% static 'keycard_shell/img/down.svg' %}" alt="Chevron down" class="keycard_shell__select-chevron">
            </div>
            <div class="keycard_shell__qr-container keycard_shell__db-qr-container keycard_shell__display-none" id="qr-container">
                <div>
                    <canvas id="qr" class="keycard_shell__qr keycard_shell__db-qr"></canvas>
                </div>
            </div> 
        </div>
    </div>
    <div class="keycard_shell__db-update-qr-action-container keycard_shel__db-update-step keycard_shell__display-none" id="start-db-usb-update-screen">
        <div class="keycard_shel__db-update-usb-container">
            <div class="keycard_shell__device-plug-animation-container">
                <div class="keycard_shell__device-plug-animation"></div>
            </div>
            <div class="keycard_shell__db-update-usb-prompt-container">
                <h2 class="keycard_shell__db-update-usb-heading">Unlock and connect your device</h2>
                <span class="keycard_shell__db-update-usb-prompt">Connect your Keycard Shell via USB-c cable directly, do not use USB-hubs and adapters, approve connection request in browser.</span>
            </div>
        </div>
    </div>
    <div class="keycard_shell__db-update-qr-action-container keycard_shel__db-update-step keycard_shell__display-none" id="db-usb-update-version-screen">
        <div class="keycard_shel__db-update-step-content-container keycard_shell__step-action-el">
            <div class="keycard_shell__db-update-version-container">
                <p class="keycard_shell__db-update-step-prompt">ERC20 DB version</p>
                <span class="keycard_shell__db-update-version" id="latest-db-version"></span>
            </div>
            <div class="keycard_shell__btn-container keycard_shell__db-btn">
                <input id="btn-db-usb-update" class="keycard_shell__btn keycard_shell__db-btn-inline" type="button" value="Transfer to Device">
            </div>
        </div>
    </div>
    <div class="keycard_shell__db-update-qr-action-container keycard_shel__db-update-step keycard_shell__display-none" id="db-usb-update-in-progress-screen">
        <div class="keycard_shel__db-update-step-content-container keycard_shell__step-action-el">
            <div class="keycard_shell__db-update-progress-prompt-container">
                <span class="keycard_shell__db-update-progress-prompt">Please do not disconnect device.</span>
                <span class="keycard_shell__db-update-step-prompt" id="update-progress-db-version"></span>
            </div>
            <div id="db-progress" class="keycard_shell__load-progress-bar-container">
                <progress id="db-progress-bar" value="0" class="keycard_shell__load-progress-bar"></progress>
            </div>
        </div>
    </div>
    <div class="keycard_shell__db-update-qr-action-container keycard_shel__db-update-step keycard_shell__display-none" id="db-usb-update-success-screen">
        <div class="keycard_shell__update-finished-screen-container">
            <div class="keycard_shell__update-finished-img-container">
                <img src="{% static 'keycard_shell/img/success.svg' %}" alt="DB Update Success" class="keycard_shell__update-finished-img">
            </div>
            <div class="keycard_shell__update-finished-prompt-container">
                <span class="keycard_shell__update-finished-prompt" id="db-update-finished-success-message">Database updated</span>
                <span class="keycard_shell__update-finished-prompt keycard_shell__update-success-version-prompt" id="db-updated-version">Version 20250325</span>
            </div>
        </div>
    </div>
    <div class="keycard_shell__db-update-qr-action-container keycard_shel__db-update-step keycard_shell__display-none" id="db-usb-update-failed-screen">
        <div class="keycard_shell__update-finished-screen-container">
            <div class="keycard_shell__update-finished-img-container">
                <img src="{% static 'keycard_shell/img/fail.svg' %}" alt="DB Update Fail" class="keycard_shell__update-finished-img">
            </div>
            <div class="keycard_shell__update-finished-prompt-container">
                <span class="keycard_shell__update-finished-prompt" id="db-update-finished-err-message"></span>
                <a href="{% url 'db:db-index' %}" class="keycard_shell__update-finished-back-btn">Try again</a>
            </div>
        </div>
    </div>
    <div class="keycard_shell__back-btn-container keycard_shell__display-none" id="back-btn-container">
        <a href="#" class="keycard_shell__back-btn" id="back-btn">
            <img src="{% static 'keycard_shell/img/right.svg' %}" alt="Right" class="keycard_shell__back-btn-img">
            <span class="keycard_shell__no-bg-btn">Select other update method</span>
        </a>
    </div>
</div>


    

<script src="{% static '/keycard_shell/js/token_db.js' %}"></script>
{% endblock %}