{% extends './base.html' %}
{% load static %}
{% block title %}DB Version History{% endblock title %}
{% block content %}
<input type="hidden" id="vh__media-prefix" name="db_updater__media-prefix" value="{% get_media_prefix %}">
<div class="keycard_shell__page-heading-container">
    <h1 class="keycard_shell__page-heading" id="release-notes-page-heading">Database Version History</h1>
</div> 
<div id="version-history-container" class="keycard_shell__db-version-history-container">

</div>
<script src="{% static '/keycard_shell/js/version_history.js' %}"></script>
{% endblock %}