{% extends './base.html' %}
{% load static %}
{% block title %}Verify{% endblock title %}
{% block content %}
<div class="keycard_shell__page-heading-container">
    <h1 class="keycard_shell__page-heading">Verify authenticity of Shell</h1>
</div> 
<div class="keycard_shell__page-top-container">
    <div class="keycard_shell__page-top-text-container">
        <span class="keycard_shell__page-top-text" id="page-top-text">Ensure your Shell is authentic and check its verification history.</span>
        <span>Follow the instructions below, or if you need help read this <a href="https://keycard.tech/help/verify-your-keycard-shell-authenticity" class="keycard_shell__page-top-help-link">article</a>.</span>
    </div>
</div>
{% block verify_core %}
    {% include './verify_core.html' %}
{% endblock %}
<script src="{% static '/keycard_shell/js/device.js' %}"></script>
{% endblock %}
