{% extends './base.html' %}
{% load static %}
{% block content %}
<input type="hidden" id="media-prefix" name="fw-path" value="{% get_media_prefix %}">
<div class="kpro_web__fw-heading-container">
  <h1 class="kpro_web__fw-heading">Download Keycard Pro</h1>
  <p class="kpro_web__fw-text">Connect your Keycard Pro device and download the latest version of Keycard Pro</p>
</div>
<div class="kpro_web__fw-container">
  <button class="kpro_web__btn group" id="btn-fw-update">
    <span class="material-icons-sharp kpro_web__fw-btn-icon" id="fw-icon">system_update</span>
    <span class="kpro_web__fw-btn-label">Update Firmware</span>
    </button>
    <div id="fw-progress" class="kpro_web__fw-load-progress-bar-container kpro_web__display-none">
      <progress id="progress-bar" value="0"></progress>
    </div>
</div>
<div class="kpro_web__release-notes-container">
  <h1 class="kpro_web__release-notes-heading kpro_web__fw-heading">Release notes</h1>
  <div class="kpro_web__release-notes" id="fw-release-notes">
    <div class="kpro_web__release-note" id="release-note-container">
      <h2 class="kpro_web__release-note-heading" id="release-note-fw-version"></h2>
      <div class="kpro_web__release-note-text" id="release-note-fw-changelog"></div>
      <button id="release-note-read-more-btn" class="kpro_web__read-more"><span class="material-icons-sharp" id="release-note-read-more-btn-ic">keyboard_double_arrow_down</span></button>
    </div>
  </div>
</div>
<div class="kpro_web__msg-container">
  <span id="kpro-web-msg" class="kpro_web__display-none kpro_web__msg"></span>
</div>
<script src="{% static '/keycard_shell/js/firmware.js' %}"></script>
{% endblock %}