{% load static %}
{% block banner %}
    {% include './banner.html' %}
{% endblock %}
<div class="kpro_web__menu-container" id="kpro_web__menu-container">
    <div class="keycard_shell__logo-container">
       <a href="https://keycard.tech"><img class="keycard_shell__logo" src="{% static 'keycard_shell/img/logo.svg' %}" alt="Logo"> </a>
    </div>
    <ul class="kpro_web__menu" id="kpro_web__menu">
        <li class="kpro_web__menu-element" id="kpro_web__menu-element-keycard">
            <a href="https://keycard.tech/keycard" class="kpro_web__menu-element-link {% if request.path == 'https://keycard.tech/keycard' %} active {% endif %}" id="kpro_web__menu-element-keycard">Keycard</a>
        </li>
        <li class="kpro_web__menu-element" id="kpro_web__menu-element-keycard-shell">
            <a href="https://keycard.tech/keycard-shell" class="kpro_web__menu-element-link {% if request.path == 'https://keycard.tech/keycard-shell' %} active {% endif %}" id="kpro_web__menu-element-keycard-shell">Keycard Shell</a>
        </li>
        <li class="kpro_web__menu-element" id="kpro_web__menu-element-keycard-buy">
            <button class="kpro_web__menu-element-link kpro_web__menu-btn" id="kpro_web__menu-element-keycard-buy">Buy Keycard</button>
        </li>
    </ul>
</div>