{% load static %}
<input type="hidden" id="device_verify__csfr" name="csfr" value="{{ csrf_token }}">
<div class="keycard_shell__page-top-container">
    <div class="keycard_shell__page-top-text-container">
        <span class="keycard_shell__page-top-text" id="page-top-text">Ensure your Shell is authentic and check its verification history.</span>
        <span>Please, read <a href="#" class="keycard_shell__page-top-help-link">help article for more details about verification</a>.</span>
    </div>
</div>
<div class="keycard_shell__device-container">  
  <div id="kpro_web__verify-step1" class="keycard_shell__verify-step">
    <div class="keycard_shell__verify-action-container">
        <div class="keycard_shell__h2-container keycard_shell__step-action-el">
            <h2 class="keycard_shell__h2">Scan QR</h2>
        </div>
        <div class="keycard_shell__action-prompt-container keycard_shell__step-action-el">
            <p class="keycard_shell__action-prompt">Go to Settings/Shell/Verify on your Shell and scan this QR to initiate the device verification.</p>
        </div>
        <div class="keycard_shell__qr-container keycard_shell__step-action-el">
            <canvas class="keycard_shell__qr" id="device_verify__qr"></canvas>
        </div>
        <div class="keycard_shell__btn-container keycard_shell__step-action-el">
            <input id="device_verify__next-button" class="keycard_shell__btn" type="button" value="Continue">
        </div>
    </div>
    </div>
    <div id="kpro_web__verify-step2" class="keycard_shell__verify-step keycard_shell__display-none">
        <div class="keycard_shell__verify-action-container">
            <div class="keycard_shell__h2-container keycard_shell__step-action-el">
                <h2 class="keycard_shell__h2">Enable camera</h2>
            </div>
            <div class="keycard_shell__action-prompt-container keycard_shell__step-action-el">
                <p class="keycard_shell__action-prompt">Enable camera on you current device and scan Shell QR to finalize the authenticity verification.</p>
            </div>
            <div class="keycard_shell__enable-camera-container keycard_shell__step-action-el">
                <img src="{% static 'keycard_shell/img/camera.svg' %}" class="keycard_shell__enable-camera-img"alt="Camera">
            </div>
            <div class="keycard_shell__btn-container keycard_shell__step-action-el">
                <input id="device_verify__scan-button" class="keycard_shell__btn" type="button" value="Enable Camera">
            </div>
        </div>
    </div>
    <div id="kpro_web__verify-step3" class="keycard_shell__verify-step keycard_shell__display-none">
      <div class="keycard_shell__verify-action-container">
        <div class="keycard_shell__h2-container keycard_shell__step-action-el">
            <h2 class="keycard_shell__h2">Now scan Shell QR</h2>
        </div>
         <div class="keycard_shell__action-prompt-container keycard_shell__step-action-el">
            <p class="keycard_shell__action-prompt">Scan Shell QR to finalize the authenticity verification.</p>
        </div>
        <div id="device_verify__qr-reader" class="device_verify__scan-container keycard_shell__step-action-el"></div>
        <div class="keycard_shell__camera-selector-container">
            <select name="cameras" id="camera-selector" class="keycard_shell__camera-selector"></select>
        </div>
        <div class="keycard_shell__scanning-msg-container keycard_shell__step-action-el">
            <div class="keycard_shell__scanning-msg">
                <span class="keycard_shell__scanning-effect">Scanning...</span>
            </div>
        </div>
      </div>  
    </div>
  <div id="kpro_web__verify-step4" class="keycard_shell__verify-step keycard_shell__display-none">
    <div class="keycard_shell__verify-action-container">
        <div class="keycard_shell__h2-container keycard_shell__step-action-el">
            <h2 class="keycard_shell__h2" id="verify-result-heading"></h2>
        </div>
         <div class="keycard_shell__action-prompt-container keycard_shell__step-action-el">
            <p class="keycard_shell__action-prompt" id="verify-result-prompt"></p>
        </div>
        <div id="device-verification-count-warning" class="keycard_shell__device-verification-warning-container keycard_shell__step-action-el keycard_shell__display-none">
            <div class="keycard_shell__device-verification-warning-icon-container">
                <img src="{% static 'keycard_shell/img/warning.svg' %}" alt="Warning" class="keycard_shell__device-verification-warning-icon">
            </div>
            <div class="keycard_shell__device-verification-warning-prompt-container">
                <span class="keycard_shell__device-verification-warning-prompt">Your Shell has been already verified before. If you remember doing this previously, there's no need to worry. Otherwise, please <a href="https://discord.com/invite/uJAXk7jFhZ" class="keycard_shell__device-verification-warning-link">contact us</a>.</span>
            </div>
            </div>
        <div class="kpro_web__success-qr-container keycard_shell__qr-container keycard_shell__step-action-el keycard_shell__display-none" id="verify-success-qr-container">
            <canvas class="keycard_shell__qr keycard_shell__qr-success" id="device_success__qr"></canvas>
        </div>
        <div class="keycard_shell__btn-container keycard_shell__step-action-el">
            <a href="" id="device_verify__scan-finished-link">
                <input id="device_verify__scan-finished" class="keycard_shell__btn" type="button" value="Done">
            </a>
        </div>
    </div>
  </div>
</div>