@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html[data-theme="dark"], html[data-theme="light"], html[data-theme="auto"], :root { 
    --dark-100: #010101;
    --dark-90: #010101EE;
    --dark-80: #010101CC;
    --dark-60: #01010199;
    --dark-40: #01010155;
    --white-4: #FFFFFF0A;
    --white-8: #FFFFFF14;
    --white-12: #FFFFFF1F;
    --white-20: #FFFFFF33;
    --white-40: #FFFFFF66;
    --white-60: #FFFFFF99;
    --white-80: #FFFFFFCC;
    --white-95: #FFFFFFF2;
    --orange: #FF6400;
    --orange-light: #FF6400EE;
    --primary: #FFFFFF14;
    --primary-fg: var(--white-95);
    --secondary: var(--dark-40);
    --font-family-primary: 'Inter', monospace;
    --font-family-monospace: 'Inter', monospace;
    --checkbox-border-radius: 4px;
    --container-border-radius: 28px;
    --darkened-bg: var(--white-8);
    --hairline-color: var(--white-8);
    --body-fg: var(--white-80);
    --body-bg: var(--dark-90);
    --body-bg-lighter: var(--white-8);
    --body-quiet-color: var(--white-95);
    --body-loud-color: var(--white-95);
    --breadcrumbs-link-fg: var(--white-60);
    --breadcrumbs-bg: var(--white-4);
    --link-fg: var(--white-95);
    --link-hover-color: var(--white-95);
    --link-selected-fg: var(--white-95);
    --border-color: var(--white-8);
    --error-fg: #e35f5f;
    --message-success-bg: #006b1b;
    --message-warning-bg: #583305;
    --message-error-bg: #570808;
    --darkened-bg: var(--dark-40);
    --selected-bg: transparent;
    --selected-row: var(--dark-40);
    --close-button-bg: transparent;
    --close-button-hover-bg: transparent;
    --object-tools-bg: var(--white-12);
    --button-hover-bg: var(--white-12);
    --button-bg: var(--white-20);
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --accent: var(--white-80);
    --header-color: var(--white-95);
    --default-button-bg: var(--white-8);
    --default-button-hover-bg: var(--white-8);
    --text-22: 22px;
    --text-20: 20px;
    --text-16: 16px;
    --text-14: 14px;
    --text-12: 12px;
    --background-blur: 40px;
    --border-radius-12: 12px;
}

footer {
    display: none;
}

#header {
    overflow: inherit;
}

#nav-sidebar {
    bottom: 0;
}

#content-start #content {
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    background-color: var(--white-4);
}

thead {
    width: 100%;
    background-color: var(--white-20);
}

thead th.sorted {
    background-color: var(--darkened-bg);
}

tr {
    height: auto;
    width: 100%;
    font-size: var(--text-14);
    background-color: transparent !important;
    box-sizing: border-box;
    vertical-align: baseline;
}

tr:hover {
    background-color: var(--dark-40) !important;
}

td, th {
    padding: 15px 10px !important;
    border-bottom: solid 1px var(--white-4);
    box-sizing: border-box;
}

th a:link, th a:visited {
    color: var(--white-80);
    font-weight: 400;
}

thead th .text a, table thead th .text span {
    padding: 0 !important;
}

thead th.sorted .sortoptions {
    padding: 0 !important;
    height: 13px;
    overflow-y: hidden;
}

thead th.sorted .sortoptions .ascending, thead th.sorted .sortoptions .descending {
    background-image: url(../img/sort.svg) !important;
    background-position: center !important;
    background-size: 13px;
}

thead th.sorted .sortoptions .sortremove {
    visibility: visible !important;
    background-image: url(../img/remove.svg) !important;
    background-position: center !important;
    background-size: 13px;
}

td.field-success_counter {
    text-align: center !important;
}

th.column-is_active, th.column-is_superuser {
    text-align: center;
}

td.field-is_active, td.field-is_superuser {
    text-align: center;
}

.sortoptions {
    display: inherit;
}

.sortremove::after {
    content: "" !important;
}

.sortpriority {
    display: none;
}

.column-download_zip_file {
    font-weight: 300;
}

#changelist .actions .button {
    border: solid 1px var(--white-20) !important;
    background-color: transparent !important;
}

#changelist .actions {
    background-color: transparent !important;
}

#changelist .actions select {
    border: solid 1px var(--white-20) !important;
    background-color: transparent !important;
    outline: none;
}

#changelist .paginator {
    background-color: transparent !important;
    border: none !important;
}

.object-tools a:link, .object-tools a:visited {
    background-color: var(--orange);
}

.object-tools a:hover {
    background-color: var(--orange-light) !important;
}

.object-tools a.addlink {
    background-image: none;
    padding: 4px 7px;
}

.module {
    margin-bottom: 0;
}

.addlink {
    background-image: url(../img/add.svg);
    background-size: 15px;
    background-position: left center;
    padding-left: 20px;
}

.changelink {
    background-image: url(../img/edit.svg);
    background-size: 15px;
    background-position: left center;
    padding-left: 20px;
}

.viewlink {
   background-image: url(../img/view.svg);
   background-size: 15px;
   background-position: left center;
   padding-left: 20px; 
}

.closelink {
    border: solid 1px var(--white-20) !important;
    font-family: var(--font-family-primary) !important;
    font-weight: 300 !important;
    background-color: var(--white-4) !important; 
}

a:link, a:visited {
    color: var(--white-80);
    font-weight: 400;
}

.breadcrumbs {
    background-color: var(--white-4) !important;
}

#id_password p:first-child {
    display: none;
}

#user_form p:first-of-type {
    display: none;
}

.form-row {
    padding: 10px 0 !important;
}

.form-row input {
    min-width: 300px;
}

.submit-row {
    background-color: transparent !important;
    border: none !important;
}

input[type="text"], input[type="password"], input[type="number"] {
    border: solid 1px var(--white-20) !important;
    font-family: var(--font-family-primary) !important;
    font-weight: 300 !important;
    background-color: var(--white-4) !important;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    outline: none;
}

.radiolist div label {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
  height: 18px;
  line-height: 14px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white-4);
  margin: 0;
  font: inherit;
  color: var(--orange);
  width: 18px;
  min-width: 18px;
  height: 18px;
  border: 0.15em solid var(--orange);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--orange);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="text"]:disabled, input[type="text"]:read-only {
    border: none !important;
    background-color: transparent !important;
}

input[type="checkbox"] {
    min-width: auto;
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    margin: 0;
    border: solid 1px var(--white-12);
    box-sizing: border-box;
    background-color: var(--white-4);
    border-radius: var(--checkbox-border-radius);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
  background-image: url(../../keycard_shell/img/check.svg);  
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--orange);
  content: "";
  width: 16px;
  height: 16px;
  border-radius: var(--checkbox-border-radius);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.login #container {
    background-color: var(--white-4) !important;
    border-radius: var(--border-radius-12) !important;
}

.login .submit-row {
    padding: 1em 0 !important;
}

#login-form .submit-row input[type="submit"], .admin__otp-submit-btn {
    background-color: var(--orange);
    font-weight: 300;
    text-transform: uppercase;
}

.admin__otp_label {
    text-transform: uppercase;
}

.admin__otp_input {
    width: 100%;
    box-sizing: border-box;
}

.admin__otp_input input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
}

.admin__two_f_auth_label {
    text-align: center;
    display: block;
    color: var(--white-80);
}

.admin__two_f_auth_back_btn {
    color: var(--white-60) !important;
    font-size: var(--text-12);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

.admin__qr_container {
    margin: 15px auto;
    background-color: white;
    width: 200px;
    height: 200px;
    text-align: center;
}

.admin__otp_secret {
    color: var(--orange);
}

.field-download_zip_file a {
    border-bottom: dashed .5px var(--white-60);
}

.theme-toggle {
    display: none;
}

.messagelist {
    margin: 10px 30px !important;
    width: calc(100% - 60px);
    box-sizing: border-box;
}

.errornote {
    font-weight: 300;
    background-color: transparent;
    font-size: var(--text-13);
}

.errorlist {
    background-color: transparent !important;
}

.admin__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 50vw;
  align-self: flex-end;
}

.admin__menu-img {
  position: relative;
  background-image: url('../img/menu.svg');
  background-position: right center;
  background-size: 30px;
  background-repeat: no-repeat;
  width: 100%;
  height: 30px;
}

.admin__toggle-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px !important;
  height: 30px !important;
  z-index: 555;
  opacity: 0;
  cursor: pointer;
}

.admin__navigation:has(.admin__navigation-list:hover) .admin__menu-img {
  background-image: url('../img/close.svg');
}

.admin__toggle-menu:hover ~ .admin__menu-img {
  background-image: url('../img/close.svg');  
}

.admin__toggle-menu:hover ~ .admin__navigation-list {
  visibility: inherit;  
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.admin__navigation-list:not(:hover) {
  visibility: hidden;
  opacity: 0;
}

.admin__navigation-list {
  top: 40px;  
  right: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  width: 200px;
  position: absolute;
  background-color: var(--dark-90);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding-inline-start: 0;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  z-index: 55 !important;
  border-radius: var(--border-radius-12);
}
.admin__navigation-list-element {
  font-family: var(--font-family-primary); 
  font-size: var(--text-12);
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 7px 25px;
  background-color: transparent;
  transition: background-color .3s;
  box-sizing: border-box;
}

.admin__navigation-list-element:hover,
.admin__navigation-list-element:focus {
  background-color: var(--white-12);
  color: var(--white-80);
  transition: background-color 0.45s;
  text-decoration: none !important;
  border-bottom: none !important;
}

.admin__navigation-list-element-link {
  display: block;
  color: inherit;
  text-transform: capitalize;
  font-weight: 400;
  text-decoration: none;
  font-size: var(--text-13);
}

.admin__navigation-list-element-link:hover {
    text-decoration: none !important;
}

.admin__navigation-list-element-line {
    background-color: var(--white-12);
}

.admin__navigation-list-element-welcome {
    background-color: var(--orange);
    font-weight: 500;
}

.admin__navigation-list-element-welcome:hover {
    background-color: var(--orange);
    color: inherit;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    box-sizing: border-box;
}

#branding {
    width: 50%;
    flex-basis: 50%;
}

.admin__object-tools {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    margin-top: -50px;
    margin-bottom: 25px;
}

.admin__object-tools .object-tools {
    float: none;
    margin-top: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.admin__object-tools .object-tools li {
    height: auto;
}

.admin__select-field-container {
    width: 100%;
    box-sizing: border-box;
    margin: 30px 0 0 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--hairline-color);
}

.admin__btns_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
}

.admin__close-btn {
    border-radius: 4px;
    padding: 10px;
    font-family: var(--font-family-primary);
    font-weight: 400;
    text-decoration: none;
    color: var(--button-fg) !important;
    text-align: center;
}

.admin__close-btn:hover, .admin__close-btn:visited {
    border: none;
    text-decoration: none;
    color: var(--white-80);
    font-weight: 400;
}

.admin__delete {
    background-color: var(--delete-button-bg) !important;
}

.admin__select-field-container div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
}

.admin__select-field-container div label {
    font-weight: bold;
}

#id_campaign, #id_redemption_address_type {
    background-color: var(--white-4);
    border: solid 1px var(--white-20);
    outline: none;
}

#id_campaign {
    min-width: 300px;
}

.paginator a:link, .paginator a:visited, .paginator a:focus, .paginator a:hover {
    color: white;
    background: none;
    
}

.paginator .this-page {
    padding: 2px 6px;
    font-weight: bold;
    background: var(--button-bg);
}

.csv-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.csv-button, .csv-button:focus, .csv-button:hover, .csv-button:visited, .csv-button:link {
    display: inline-block;
    min-width: 100px;
    height: 30px;
    padding: 8px 12px !important;
    background: var(--object-tools-bg);
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 15px !important;
    color: white;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

.csv-container-form-field {
    position: relative;
    min-width: 100px;
    height: 30px;
    box-sizing: border-box;
}

.csv-button-input {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

input[type='password'] {
    font:small-caption;
    letter-spacing: 10%;
}

.admin__fw_hash {
    width: 70%;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    field-sizing: content;
}

.wmd-panel textarea {
    padding: 0;
    margin: 0;
}

.wmd-wrapper {
    width:  100%;
    margin-top: 15px;
}

.wmd-button-bar {
    border: none;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 40px;
    background: var(--white-4) !important;
    padding: 4px 10px;
}

.wmd-button {
    width: 15px !important;
    height: 15px !important;
}

.wmd-button > span {
    background-image: url('../img/editor.png') !important;
    background-size: 260px !important;
}

.wmd-button > span:hover {
    background: var(--white-12);
}

.wmd-prompt-dialog {
    background-color: var(--dark-90) !important;
    border: solid 1px var(--white-12) !important;
    border-radius: var(--border-radius-12);
    padding: 10px;
    box-sizing: border-box;
    font-size: var(--text-16);
    color: var(--white-80);
}

.wmd-prompt-dialog > div {
    font-family: var(--font-family-primary) !important;
}

.wmd-prompt-dialog input {
  color: var(--white-80) !important;  
  font-family: var(--font-family-primary) !important;
}

.wmd-input, #wmd-input-id_changelog {
    background: var(--white-8);
    border: none;
    border-radius: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    height: 250px;
    field-sizing: content;
    outline: none;
    padding: .8em;
    box-sizing: border-box;
}

.wmd-preview {
    width: 100% !important;
    max-width: 100% !important;
    color: var(--dark-80);
}



@media (max-width: 767px) {
   html:has(.admin__toggle-menu:not(:checked)), body:has(.admin__toggle-menu:not(:checked)) {
        overflow-y: hidden !important;
        height: 100% !important;
    } 

    html:has(.admin__toggle-menu:checked), body:has(.admin__toggle-menu:checked) {
        overflow-y: scroll !important;
    }

    #content {
        width: 100% !important;
        overflow-y: scroll !important;
    }

   .admin__menu-img {
        background-image: url('../img/menu.svg');
    }

    .admin__toggle-menu:not(:checked) ~ .admin__menu-img {
        background-image: url('../img/close.svg');
    }

    .admin__toggle-menu:checked ~ .admin__menu-img {
        background-image: url('../img/menu.svg');
    }

    .admin__navigation-list {
       visibility: hidden;
       position: fixed;
       opacity: 0; 
       right: 0;
       left: 0;
       bottom: 0;
       top: 0;
       margin-top: 78px;
       width: 100%;
       height: 100lvh;
       overflow-y: hidden !important;
       border-radius: 0px;
       z-index: 55;
    }

    .admin__toggle-menu:checked ~ .admin__navigation-list {
        visibility: hidden;
        opacity: 0;
    }

    .admin__toggle-menu:not(:checked) ~ .admin__navigation-list {
        visibility: visible;  
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .admin__navigation-list-element {
        padding: 15px 20px;
    }

    .admin__navigation-list-element-welcome, .admin__navigation-list-element-link, .admin__navigation-list-element-btn {
        font-size: var(--text-16) !important;
    }

    .admin__navigation-list-element-line {
        margin: 5px 0;
    }

    .admin__navigation-list-element-link:active, .admin__navigation-list-element-link:hover {
        color: var(--orange) !important;
        background-color: transparent !important;
        outline: none !important;
    }

    #header {
        position: fixed !important;
        background-color: var(--dark-90);
        z-index: 777777;
        overflow: hidden;
    }

    .breadcrumbs {
        margin-top: 78px !important;
    }

    .login #header {
        position: relative !important;
    }

    .login #branding {
        flex-basis: auto;
        text-align: center;
        width: auto;
    }

     .login #container {
        margin-top: 50% !important;
    }

    .admin__object-tools {
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .admin__object-tools .object-tools {
        float: none;
        margin-top: 0;
        min-width: auto;
    }

    .admin__fw_hash {
        display: block;
        width: 100%;
        float: none;
    }

    .admin__btns_container {
        flex-direction: column;
        gap: 6px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .admin__btn, .admin__close-btn  {
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        padding: 10px !important;
        font-size: 1em;
    }

    .admin__select-field-container div {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    #id_campaign {
        width: 100%;
        min-height: 2.25rem;
    }

    .csv-container {
        width: auto;
    } 
}